body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  box-sizing: border-box;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

header.container {
  background-color: #d6b789;
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1 {
  margin: 0;
  font-weight: 900;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 800px;
  margin-left: 40px;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 0px 5px;
  padding: 5px 0px;
}

.button::after {
  left: 0;
  bottom: -1px;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
}

.button:hover.button::after,
.button:focus.button::after {
  background-color: #ffffff;
}

.button:focus {
  outline: none;
}

.section-header {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: -20px;
  margin-left: -20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header::before,
.section-header::after {
  flex-grow: 2;
  content: "";
  width: 200px;
  height: 4px;
  background-color: #000000;
}

.section-header::before {
  margin-right: 20px;
}

.section-header::after {
  margin-left: 20px;
}

.about-me {
  background-color: #eddecc;
  padding-bottom: 40px;
}

.about-me img {
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-me-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-data .section-header-h3 {
  margin: 0;
  margin-bottom: 10px;
}

.about-me-data .about-me-info {
  margin-left: 75px;
  width: 50%;
}

.section-header-h3 {
  font-size: 22px;
  font-weight: 900;
}

.about-me-table {
  width: 100%;
  border-collapse: collapse;
}

.about-me-table .right {
  text-align: right;
}

.about-me-table tr {
  border-bottom: 2px solid #f7f1da  ;
}

.about-me-table td {
  padding-top: 6px;
}

.summary {
    /* background-color: #c7c1b9; // to footer */
    background-color: #f7f5ed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px;
}

.summary article {
 width: 35%;
 text-align: justify;
}

.summary h3 {
  text-align: left;
}

.summary .section-header {
  flex-grow: 1;
  width: 100%;
}

.skills {
  background-color: #eddecc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}

.skills .section-header {
  width: 100%;
  flex-grow: 1;
}

.skills div {
  width: 35%;
}

.skills ul {
  margin: 0;
  padding-left: 16px;
}


