body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

header.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d6b789;
}

header h1 {
  margin: 0;
  font-weight: 900;
}

.header-menu {
  display: flex;
  width: 800px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 40px;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 0px 5px;
  padding: 5px 0px;
}

.button::after {
  left: 0;
  bottom: -1px;
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
}

.button:hover.button::after,
.button:focus.button::after {
  background-color: #ffffff;
}

.button:focus {
  outline: none;
}

.section-header {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: -20px;
  margin-left: -20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header::before,
.section-header::after {
  flex-grow: 2;
  content: "";
  width: 200px;
  height: 4px;
  background-color: #000000;
}

.section-header::before {
  margin-right: 20px;
}

.section-header::after {
  margin-left: 20px;
}

.about-me {
  background-color: #eddecc;
  padding-bottom: 40px;
}

.about-me img {
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-me-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-data .section-header-h3 {
  margin: 0;
  margin-bottom: 10px;
}

.about-me-data .about-me-info {
  margin-left: 75px;
  width: 50%;
}

.section-header-h3 {
  font-size: 22px;
  font-weight: 900;
}

.about-me-table {
  width: 100%;
  border-collapse: collapse;
}

.about-me-table .right {
  text-align: right;
}

.about-me-table tr {
  border-bottom: 2px solid #f7f1da  ;
}

.about-me-table td {
  padding-top: 6px;
}

.summary {
    background-color: #f7f5ed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px;
}

.summary article {
 width: 35%;
 text-align: justify;
}

.summary h3 {
  text-align: left;
}

.summary .section-header {
  flex-grow: 1;
  width: 100%;
}

.skills {
  background-color: #eddecc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
}

.skills .section-header {
  width: 100%;
  flex-grow: 1;
}

.skills div {
  width: 35%;
}

.skills ul {
  margin: 0;
  padding-left: 16px;
}

.code-example {
  background-color: #f7f5ed;
  padding-bottom: 20px;
}

.experience {
  background-color: #eddecc;
}

.experience-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3.33%;
  padding-top: 20px;
}

.experience article {
  width: 30%;
  margin-left: 3.33%;
  margin-bottom: 40px;
}

.experience-blackout {
  position: relative;
}

.experience-blackout-mask {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  top: 0;
}

.experience-links {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: space-around;
  margin: 0;
}

.experience-blackout:hover .experience-blackout-mask {
  opacity: 1;
}

.experience-blackout:hover .experience-links {
  display: flex;
}

.experience-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #918e86;
}

.experience-header {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.experience .button {
  color: #ffffff;
  padding: 0;
}

.experience .button::after {
  height: 2px;
}

.education {
  background-color: #f7f5ed;
  padding-bottom: 30px;
}

.education p {
  text-align: justify;
}

.english {
  padding-bottom: 30px;
  background-color: #eddecc;
}

footer {
  background-color: #918e86;
}

.contacts {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.button.telegram {
  margin-left: 50px;
}
